<!DOCTYPE html>
<html>
<head>
  <title>Greedo</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js" data-turbolinks-track></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" data-turbolinks-track></script>
  <script src="http://cdn.peerjs.com/0.3/peer.js" data-turbolinks-track></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script>
    <%= render "js_params.js.erb" %>
  </script>

  <%= content_tag :div, ng_controller do %>
  
  <%= render 'layouts/flash' %>

  <%= render 'layouts/admin_header' %>
  
  <div id="container">
    <%= yield %>
  </div>

  <% end %>

  <%= render 'layouts/footer' %>

</body>
</html>