<!DOCTYPE html>
<html>
<head>
  <title>Greedo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script>
    <%= render "js_params.js.erb" %>
  </script>

  <%= content_tag :div, ng_controller do %>

  <%= render 'layouts/flash' %>
  <%= link_to image_tag("layout/greedo.png", id: 'logo'), root_path %>
  <%= render 'layouts/header' %>

  <div id="container" class="<%= (yield :id) %>">
    <%= yield %>
  </div>

  <% end %>

  <%= render 'layouts/footer' %>

</body>
</html>
